header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff00;
}
header div h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

header div button {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 30px;
  margin-top: 50px;
  border-radius: 50px;
}
